* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff1ff;
  font-size: 62.5%;
  font-family: "Kanit";
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: #1a1a1a;
}
main {
  background-color: #1a1a1a;
  background-size: cover;
  background-position: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: none;
  position: relative;
}
.logo {
  width: 12.5rem;
  margin: 2rem;
}
.h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.section-hero {
  background-color: #1a1a1a;
  padding-top: 6rem;
  max-width: 80rem;
  margin: 0 10%;
}
.contact-cont {
  padding: 4rem;
}
.main-heading {
  font-size: 1.7rem;
  font-weight: 300;
  color: #fff;
  margin-top: 2rem;
}
.main-heading span {
  font-size: 2.4rem;
  text-shadow: 0 0 50px 5px #fff;
  font-weight: 700;
}
.list {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  list-style: none;
  text-transform: uppercase;
}
.head {
  padding: 4rem 4rem 0 0;
}

.list-item {
  border-top: 3px solid #fff;
  /* display: flex; */

  padding: 0.4rem 1.2rem;
  transition: all 0.5s;
}
.list-item a {
  font-size: 1.875rem;
  font-weight: bold;
  color: whitesmoke;
  list-style: none;
  text-transform: uppercase;
  /* padding: 4px 12px; */
  text-decoration: none;
}
.list-item:hover {
  color: white;
  background-color: #ff3333;
  opacity: 0.7;
}

.social-contact {
  max-width: 80rem;
  margin: 0 auto;
}
.social-p {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.instface-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.instagram,
.facebook {
  font-size: 4rem;
  transition: transform 400ms;
}
.instagram {
  color: #c13584;
}
.facebook {
  color: #4267b2;
}
.map {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  padding: 3rem;
  padding-top: 9.6rem;

  border-top: 2px solid #555;
}
iframe {
  width: 100%;

  margin: 0 auto;
}
.btn-mobile--nav,
.btn-mobile--close {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-mobile--nav ion-icon,
.btn-mobile--close ion-icon {
  color: white;
  width: 3.2rem;
  height: 3.2rem;
}
.btn-mobile--close ion-icon {
  display: none;
}
